:root{
    --almostWhite:hsl(0, 0%, 98%);
    --mediumGray:hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

*{
    font-family: 'Epilogue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.logo img, .navbar img{
    width: 90%;
}
.nav-menu{
    background-color: var(--almostWhite);
    width: 245px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
}

.nav-menu p{
    padding: 0;
    margin: 0;
}

details > summary {
    list-style: none;
  }
  
  details > summary::marker /* Latest Chrome, Edge, Firefox */ {
    display: none;
  }

.hero-image{
    background-image: url(../images/image-hero-mobile.png);
    background-repeat: no-repeat;
    width: 100;
    height: 270px;
    background-size: cover;
}

.content{
    text-align: center;

}
h1{
    font-size: 2.1rem;
}

.footer{
    display: flex;
    justify-content: space-around;
}
.footer img{
    width: 60px;
    height: 30%;
}