:root{
    --almostWhite:hsl(0, 0%, 98%);
    --mediumGray:hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

*{
    font-family: 'Epilogue', sans-serif;
}

body{
    margin: 0;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.logo img, #icon-menu{
    width: 90%;
    cursor: pointer;
}
.nav-menu{
    background-color: var(--almostWhite);
    width: 220px;
    height: 100dvh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    color: var(--mediumGray);
    padding-left: 1.5rem;
}

.icon-close{
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.nav-menu details{
    margin-bottom: 1rem;
    cursor: pointer;   
}

.nav-menu p, .arrow{
    padding-left: .5rem;
}

.features{
    display: flex;
    margin-left: 1.5rem;

}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: .5rem;
}

.company{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.company a:first-child{
    padding-top: 1rem;
}
.nav-menu a{
    margin: 0;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--mediumGray);
}

details > summary {
    list-style: none;
  }
  
details > summary::marker /* Latest Chrome, Edge, Firefox */ {
    display: none;
}

#login{
    width: 90%;
    border: none;
    background-color: var(--almostWhite);
    color: var(--mediumGray);
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#register{
    width: 90%;
    border-radius: 10px;
    padding: .5rem;
    color: var(--mediumGray);
    background-color: var(--almostWhite);
    cursor: pointer;

}
  

.hero-image{
    background-image: url(../images/image-hero-mobile.png);
    background-repeat: no-repeat;
    height: 280px;
    background-size:contain;
}

.content{
    text-align: center;

}
h1{
    font-size: 2.1rem;
    font-weight: 700;
}

.mid-content p{
    font-size: 16px;
    color: var(--mediumGray);
    padding: 0 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.mid-content button{
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
}

.footer{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
.footer img{
    width: 60px;
    height: 30%;
}

.close-menu{
    display: none;
}